/* Big components */

html {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: #15182d;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'navbar navbar navbar navbar navbar navbar'
    'main main main main main main';
}

.header {
    padding: 2vw;
    grid-area: header;
    display: flex;
}

.header > img {
    height: 5vh;
    padding-right: 2vw;
}

.navbar {
    grid-area: navbar;
}

.navbar .tablink {
    grid-area: navbar;
    color: white;
    background-color: #1f1f1f;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 1vw;
    font-size: 1rem;
    width: 33.33vw;
}

.navbar .tablink:hover {
    background-color: black;
}

.tabcontent {
    grid-area: main;
    display: none;
    padding: 2vw 2vw;
    height: 1fr;
}

/* Chart page */
#main {
    grid-area: main;
    height: 100%;
}

.name-banner, #bio {
    display: flex;
    column-gap: 1vw;
    align-items: center;
}

#name-input, #name-display {
  text-transform: capitalize;
}

.chart-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}

.chart-grid > div {
  background-color: white;
  max-width: 22vw;
  height: 30vh;
  border-radius: 1vw;
  box-shadow: 0 0 1rem rgba(7, 9, 173, 0.1);
}

.chart-area > p {
  padding-left: 1.5rem;
  align-self: flex-end;
}

/* Athlete search/dropdown */
#dropdown-container {
  background-color: transparent;
  box-shadow: none;
}

.dropdown-content {
  width: 10vw;
}

.dropbtn {
    background-color: #a01414;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7b0f0f;
  }

  
  #myInput, #myInput-1 {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1vw 1vw 1vw 1vw;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus, #myInput-1:focus {outline: 0.5rem solid #ddd;}
  
  .dropdown {
    position: relative;
  }

  #load-athletes, #edit-athlete {
    margin-left: auto;
  }

  .dropdown-content, .dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 15vw;
    max-height: 30vh;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: auto;
  }
  
  .dropdown-content li, .dropdown-content-1 li  {
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
  }
  
  .dropdown li:hover {
    background-color: #ddd;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

  /* Add Athlete Page */
  #bio {
    display: flex;
    column-gap: 1rem;
  }

  #position-input select,
  #name-input,
  #status-input,
  #number-input {
    font-size: 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: rgb(238, 238, 238);
  }
  

  #name-input:hover,
  #position-input select:hover,
  #status-input:hover,
  #number-input:hover {
    color: #980000;
  }
  
  #stats-page {
    display: grid;
    grid-template-areas: 'left right right';
    column-gap: 5vw;
  }

  #stats-instructions {
    grid-area: 'left';

  }

  #stats {
    grid-area: 'right';
  }

  ul#stats-list {
    width: 60vw;
    column-count: 2; 
    border-color: transparent;
    font-family: Lato, sans-serif;
    list-style-type: none;
    font-weight: 300;
    font-size: 0.9rem;
  }
  
  fieldset {
    border-color: transparent;
  }
  
  li {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
  }
  
  .stat-category-label {
    font-weight: bold;
  }

  label {
    width: 10vw;
  }
  
  #stats-list input {
    font-family: Lato, sans-serif;
    border-color: transparent;
    width: 1rem;
    font-size: 0.9rem;
    background-color: #f8f8f8;
    border-radius: 0.3rem;
    font-weight: 200;
    color: black;
    appearance: textfield;
    text-align: center;
    width: 5vw;
  }
  
  
  .input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  
  .unit {
    font-family: Lato, sans-serif;
    pointer-events: none;
    align-content: center;
    opacity: 0.5;
    padding-left: 0.25rem;
    color: #a2a2a2;
  }

  #coach-notes {
    width: 30vw;
    height: 15vh;
    display: block;
    text-align: left;
    padding: 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    resize: vertical;
    border-color: rgba(160, 159, 159, 0.3);
    border-width: 1px;
    border-radius: 0.35em;
  }

#save-athlete,
#clear-all {
  padding: 0.5rem 1rem; 
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 400; 
  color: white;
  background-color: #011f5b;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#save-athlete:hover,
#clear-all:hover {
  background-color: #023b87; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#save-athlete:active,
#clear-all:active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #001940; 
}

  /* Billboard Charts */
  .bb svg, rect.bb-event-rect{
    overflow: visible !important;
    width: 22vw !important;
    height: 30vh !important;
    z-index: 1000 !important;
  }

  
.bb-title {
  font-size: 0.75rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-top: 1em;
  color: #666;
  text-transform: uppercase;
}


.bb tspan {
  font-family: Lato, sans-serif;
  fill: #011f5b;
  font-weight: 500;
  font-size: 0.75rem;
}

.bb-axis.bb-axis-x path.domain {
  opacity: 0;
}

div#radar-chart .bb-level > text:nth-child(2), 
div#radar-chart .bb-text{
  font-size: 0.75rem;
  font-weight: 100;
}

#radar-chart polygon {
  stroke: rgb(240, 240, 240);
  fill-opacity: 0;
}

g.bb-chart-radar polygon {
  fill-opacity: 0.2;
}

div#radar-chart .bb-axis-0 > text:nth-child(2),
div#radar-chart .bb-axis-1 > text:nth-child(2),
div#radar-chart .bb-axis-2 > text:nth-child(2),
div#radar-chart .bb-axis-3 > text:nth-child(2) {
  font-size: 0.75rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}


/* About page */
#About-text {
  padding-right: 60vw;
}


/* Billboard.js Tooltip Styling */
.bb-tooltip {
  padding: 10px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #011f5b;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bb-tooltip .tooltip-title {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.bb-tooltip .tooltip-row {
  display: flex;
  justify-content: left;
  margin-bottom: 4px;
}

.bb-tooltip .tooltip-row:last-child {
  margin-bottom: 0; 
}

.bb-tooltip .tooltip-label {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.bb-tooltip .tooltip-value {
  font-family: Lato, sans-serif;
  text-align: right;
}


/* Smaller screen media queries */
@media only screen and (max-width: 1200px) {
  .chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }
  
  .chart-grid > div {
    background-color: white;
    max-width: 100%;
    height: 30vh;
  }
  }
  
  @media only screen and (max-width: 600px) {
    .chart-area {
      display: flex;
      flex-direction: column;
    }

    .chart-area > p {
      padding: 0;
      padding-top: 0.5rem;
    }
    .chart-grid {
      display: flex;
      flex-direction: column;
    }
    
    .chart-grid > div {
      background-color: white;
      max-width: 100;
      height: 30vh;
    }
  
    ul#stats-list {
      width: 90vw;
      column-count: 1; 
      border-color: transparent;
      font-family: Lato, sans-serif;
      list-style-type: none;
      font-weight: 300;
      font-size: 0.9rem;
    }


  label {
    width: 25vw;
  }
  
  #stats-list input {
    font-family: Lato, sans-serif;
    border-color: transparent;
    font-size: 0.9rem;
    background-color: #f8f8f8;
    border-radius: 0.3rem;
    font-weight: 200;
    color: black;
    appearance: textfield;
    text-align: center;
    width: 10vw;
  }
  
  
  .input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #stats-page {
    display: flex;
    flex-direction: column;
  }

  #stats-instructions {
    grid-area: 'left';

  }

  #stats {
    grid-area: 'right';
  }
    }