/* Big components */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: #1f1f1f;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'navbar navbar navbar navbar navbar navbar'
    'main main main main main main';
}

.grid-container > div {
    font-size: 30;
}

.header {
    padding: 1vw;
    grid-area: header;
    display: flex;
}

.header > img {
    height: 5vh;
    padding-right: 2vw;
}

.navbar {
    grid-area: navbar;
}

.navbar .tablink {
    grid-area: navbar;
    color: white;
    background-color: #1f1f1f;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 1vw;
    width: 25%;
}

.navbar .tablink:hover {
    background-color: black;
}

.tabcontent {
    grid-area: main;
    background-color: white;
    display: none;
    padding: 1vw 1vw;
    height: 100%;
}

/* Chart page */
#main {
    grid-area: main;
}

.name-banner {
    display: flex;
    column-gap: 3vw;
    justify-content: space-around; 
}

.name-banner > h1 {
    font-weight: lighter;
    font-size: 2rem;
}

.chart-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    text-align: center;
}

.chart-area > div {
    background-color: rgb(249, 252, 255);
    max-width: 30vw;
    padding: 1vw;
    font-size: 30;
    height: 35vh;
    border-radius: 1vw;
}

/* Athlete search/dropdown */
.dropbtn {
    background-color: #a01414;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7b0f0f;
  }
  
  #myInput {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1vw 1vw 1vw 1vw;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 0.5rem solid #ddd;}
  
  .dropdown {
    position: relative;
  }

  #load-athletes {
    margin-left: auto;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 15vw;
    max-height: 30vh;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: auto;
  }
  
  .dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown li:hover {
    background-color: #ddd;
}
  

.hidden {
  display: none;
}

.visible {
  display: block;
}

  /* Add Athlete Page */
  #bio {
    display: flex;
    column-gap: 1rem;
  }

  #position-input select,
  #name-input,
  #status-input,
  #number-input {
    font-size: 2rem;
    border: none;
    background-color: transparent;
  }
  

  #athlete-position select:hover,
  #name-input:hover,
  #status-input:hover,
  #number-input:hover {
    color: #980000;
  }
  
  ul#stats-list {
    column-count: 2; 
    column-gap: 1rem;  
    border-color: transparent;
    list-style-type: none;
    padding-left: 0;
  }
  
  fieldset {
    border-color: transparent;
  }

  li {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }


  ul {
    font-family: Lato, sans-serif;
    list-style-type: none;
    padding-left: 0;
    font-weight: 300;
    font-size: 0.9rem;
  }
  
  
  label {
    display: flex;
    flex-direction: row;
  }
  
  .benchmark-menu input {
    font-family: Lato, sans-serif;
    border-color: transparent;
    width: 1rem;
    font-size: 0.9rem;
    background-color: #f8f8f8;
    border-radius: 0.35em;
    font-weight: 200;
    color: #4d4d57;
  }
  
  #coach-notes {
    width: 30vw;
    display: block;
    text-align: left;
    padding: 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    resize: vertical;
    border-color: rgba(160, 159, 159, 0.3);
    border-width: 1px;
    color: gray;
    border-radius: 0.35em;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
  }
  
  input[type="number"] {
    width: 40%;
    appearance: textfield;
    text-align: center;
  }
  
  .unit {
    font-family: Lato, sans-serif;
    pointer-events: none;
    align-content: center;
    opacity: 0.5;
    padding-left: 0.25rem;
    color: #a2a2a2;
  }


  /**/
  .bb-axis path.domain {
    opacity: 0;
  }