/* Big components */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: #1f1f1f;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'navbar navbar navbar navbar navbar navbar'
    'main main main main main main';
}

.grid-container > div {
    font-size: 30;
}

.header {
    padding: 1vw;
    grid-area: header;
    display: flex;
}

.header > img {
    height: 5vh;
    padding-right: 2vw;
}

.navbar {
    grid-area: navbar;
}

.navbar .tablink {
    grid-area: navbar;
    color: white;
    background-color: #1f1f1f;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 1vw;
    width: 25%;
}

.navbar .tablink:hover {
    background-color: black;
}

.tabcontent {
    grid-area: main;
    background-color: white;
    display: none;
    padding: 1vw 1vw;
    height: 100%;
}

/* Chart page */
#main {
    grid-area: main;
}

.name-banner {
    display: flex;
    column-gap: 3vw;
}

.name-banner > h1 {
    font-weight: lighter;
    font-size: 2rem;
}

.chart-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    text-align: center;
}

.chart-area > div {
    background-color: rgb(249, 252, 255);
    padding: 1vw;
    font-size: 30;
    height: 35vh;
    border-radius: 1vw;
}

/* Test dropdown */
.dropbtn {
    background-color: #a01414;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7b0f0f;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 1rem;
    padding: 1vw 1vw 1vw 1vw;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 0.5rem solid #ddd;}
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 15vw;
    max-height: 30vh;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: auto;
  }
  
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown li:hover {
    background-color: #ddd;
}
  
  .show {display: block;}